/************************************ show/hide contents panel ************************************/
.contentsPanel {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
    padding: 5px;
    margin: 0 0 20px 0;
	font-size: 80%;
	position: relative;
	line-height: 1.7em;
	width: 180px;
}
.contentsHeader {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
.hidePanel, .showPanel {
	float: right;
	margin: 0 5px;
	position: absolute;
	right: 15px;
	cursor: pointer;
	color: #0645ad;
	top: 4px;
}
.contentsPanel ul li span {
	display: inline-block;
	margin-right: 8px;
}
.contentsPanel ul li {
}
.contentsPanel ul {
	padding: 0 0 5px 5px;
}
.contentsPanel ul li ul{
}
.contentsPanel ul li ul li {
	padding: 0 0 0 25px;
}
.showPanel {
	display: none;
}
.minimizedPanel .showPanel {
	display: block;
}
.minimizedPanel .hidePanel {
	display: none
}
.contentsPanel.minimizedPanel {
	width: 130px;
}
.minimizedPanel .contentsHeader {
	text-align: left;
}
@media screen and (max-width: 550px) {
	.contentsPanel {
		width: auto;
	}
}
/**************************************************************************************************/

.pagefooter {
	padding: 1.5em 1.3em 2em;
	font-size: 75%;
    text-align: left;
}
.topButton {
	position: fixed;
	right: 20px;
	bottom: 40px;
	float: right;
	opacity: 0.3;
	z-index: 9999;
}
.hiddenBox {
	display: none;
	border: 1px solid #000000;
}
.hiddenBoxContent {
	width: 100%;
	height: 100%;
}
.hiddenBoxContent img {
	display: inline;
}
.hiddenA{
	position: relative;
	top: -80px;
	display: block;
	height: 0;
	overflow: hidden;
}

